/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// Button
$btn-font-weight: 700 !default;

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
  
  $font-size-root: 15px,
  $line-height-root: 1.5,

  $shadow-key-umbra-opacity: rgba(85, 85, 85, 0.08),
  $shadow-key-penumbra-opacity: rgba(85, 85, 85, 0.06),
  $shadow-key-ambient-opacity: rgba(85, 85, 85, 0.03),

  $shadow-key-umbra: (0: (0px 0px 0px 0px rgba(85, 85, 85, 0.08)),
    1: (0px 2px 10px -1px rgba(85, 85, 85, 0.08)),
    2: (0px 3px 10px -2px rgba(85, 85, 85, 0.08)),
    3: (0px 3px 30px -2px rgba(85, 85, 85, 0.08)),
    4: (0px 2px 30px -1px rgba(85, 85, 85, 0.08)),
    5: (0px 3px 30px -1px rgba(85, 85, 85, 0.08)),
    6: (0px 3px 30px -1px rgba(85, 85, 85, 0.08)),
    7: (0px 4px 30px -2px rgba(85, 85, 85, 0.08)),
    8: (0px 5px 30px -3px rgba(85, 85, 85, 0.08)),
    9: (0px 5px 30px -3px rgba(85, 85, 85, 0.08)),
    10: (0px 6px 30px -3px rgba(85, 85, 85, 0.08)),
    11: (0px 6px 30px -4px rgba(85, 85, 85, 0.08)),
    12: (0px 7px 30px -4px rgba(85, 85, 85, 0.08)),
    13: (0px 7px 30px -4px rgba(85, 85, 85, 0.08)),
    14: (0px 7px 30px -4px rgba(85, 85, 85, 0.08)),
    15: (0px 8px 30px -5px rgba(85, 85, 85, 0.08)),
    16: (0px 8px 30px -5px rgba(85, 85, 85, 0.08)),
    17: (0px 8px 30px -5px rgba(85, 85, 85, 0.08)),
    18: (0px 9px 30px -5px rgba(85, 85, 85, 0.08)),
    19: (0px 9px 30px -6px rgba(85, 85, 85, 0.08)),
    20: (0px 10px 30px -6px rgba(85, 85, 85, 0.08)),
    21: (0px 10px 30px -6px rgba(85, 85, 85, 0.08)),
    22: (0px 10px 30px -6px rgba(85, 85, 85, 0.08)),
    23: (0px 11px 30px -7px rgba(85, 85, 85, 0.08)),
    24: (0px 11px 30px -7px rgba(85, 85, 85, 0.08))),

  $shadow-key-penumbra: (0: (0px 0px 0px 0px rgba(85, 85, 85, 0.06)),
    1: (0px 1px 10px 0px rgba(85, 85, 85, 0.06)),
    2: (0px 2px 20px 0px rgba(85, 85, 85, 0.06)),
    3: (0px 3px 40px 0px rgba(85, 85, 85, 0.06)),
    4: (0px 4px 30px 0px rgba(85, 85, 85, 0.06)),
    5: (0px 5px 30px 0px rgba(85, 85, 85, 0.06)),
    6: (0px 6px 30px 0px rgba(85, 85, 85, 0.06)),
    7: (0px 7px 30px 1px rgba(85, 85, 85, 0.06)),
    8: (0px 8px 30px 1px rgba(85, 85, 85, 0.06)),
    9: (0px 9px 30px 1px rgba(85, 85, 85, 0.06)),
    10: (0px 10px 30px 1px rgba(85, 85, 85, 0.06)),
    11: (0px 11px 30px 1px rgba(85, 85, 85, 0.06)),
    12: (0px 12px 30px 2px rgba(85, 85, 85, 0.06)),
    13: (0px 13px 30px 2px rgba(85, 85, 85, 0.06)),
    14: (0px 14px 30px 2px rgba(85, 85, 85, 0.06)),
    15: (0px 15px 30px 2px rgba(85, 85, 85, 0.06)),
    16: (0px 16px 30px 2px rgba(85, 85, 85, 0.06)),
    17: (0px 17px 30px 2px rgba(85, 85, 85, 0.06)),
    18: (0px 18px 30px 2px rgba(85, 85, 85, 0.06)),
    19: (0px 19px 30px 2px rgba(85, 85, 85, 0.06)),
    20: (0px 20px 30px 3px rgba(85, 85, 85, 0.06)),
    21: (0px 21px 30px 3px rgba(85, 85, 85, 0.06)),
    22: (0px 22px 30px 3px rgba(85, 85, 85, 0.06)),
    23: (0px 23px 30px 3px rgba(85, 85, 85, 0.06)),
    24: (0px 24px 30px 3px rgba(85, 85, 85, 0.06))),

  $shadow-key-ambient: (0: (0px 0px 0px 0px rgba(85, 85, 85, 0.03)),
    1: (0px 1px 30px 0px rgba(85, 85, 85, 0.03)),
    2: (0px 1px 30px 0px rgba(85, 85, 85, 0.03)),
    3: (0px 1px 30px 0px rgba(85, 85, 85, 0.03)),
    4: (0px 1px 30px 0px rgba(85, 85, 85, 0.03)),
    5: (0px 1px 30px 0px rgba(85, 85, 85, 0.03)),
    6: (0px 1px 30px 0px rgba(85, 85, 85, 0.03)),
    7: (0px 2px 30px 1px rgba(85, 85, 85, 0.03)),
    8: (0px 3px 30px 2px rgba(85, 85, 85, 0.03)),
    9: (0px 3px 30px 2px rgba(85, 85, 85, 0.03)),
    10: (0px 4px 30px 3px rgba(85, 85, 85, 0.03)),
    11: (0px 4px 30px 3px rgba(85, 85, 85, 0.03)),
    12: (0px 5px 30px 4px rgba(85, 85, 85, 0.03)),
    13: (0px 5px 30px 4px rgba(85, 85, 85, 0.03)),
    14: (0px 5px 30px 4px rgba(85, 85, 85, 0.03)),
    15: (0px 6px 30px 5px rgba(85, 85, 85, 0.03)),
    16: (0px 6px 30px 5px rgba(85, 85, 85, 0.03)),
    17: (0px 6px 30px 5px rgba(85, 85, 85, 0.03)),
    18: (0px 7px 30px 6px rgba(85, 85, 85, 0.03)),
    19: (0px 7px 30px 6px rgba(85, 85, 85, 0.03)),
    20: (0px 8px 30px 7px rgba(85, 85, 85, 0.03)),
    21: (0px 8px 40px 7px rgba(85, 85, 85, 0.03)),
    22: (0px 8px 40px 7px rgba(85, 85, 85, 0.03)),
    23: (0px 9px 40px 8px rgba(85, 85, 85, 0.03)),
    24: (0px 9px 40px 8px rgba(85, 85, 85, 0.03))),

  // Rounded
  $border-radius-root: 6px,

  // Spacing
  $spacer: 6px,

  // Inputs and labels
  $label-font-size: 14px,
  $input-font-size: 14px,

  // Card
  $card-elevation: 2,
)